<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kehou.mapper.FavoritesMapper">

    <resultMap id="BaseResultMap" type="com.example.kehou.domain.entity.Favorites">
        <id property="favoritesId" column="favorites_id" jdbcType="INTEGER"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="belongId" column="belong_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Select">
        select favorites_id,
               subject_id,
               belong_id,
               create_time,
               update_time
        from favorites
    </sql>
    <select id="getFavoritesByUsername" resultMap="favoritesVOMap">
        <!--#         <include refid="Base_Select"/>-->
        SELECT
        c.subject_id,
        c.subject_name,
        c.icon
        FROM
        `favorites` a,
        `user` b,
        `subject` c
        WHERE
        a.belong_id = b.user_id
        AND a.subject_id = c.subject_id
        AND b.user_name = #{username}
        ORDER BY
        c.create_time
    </select>

    <resultMap id="favoritesVOMap" type="com.example.kehou.domain.vo.FavoritesVO">
        <id column="subject_id" property="subjectId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="icon" property="iconUrl"/>
    </resultMap>
</mapper>
