<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kehou.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="com.example.kehou.domain.entity.Record">
        <id property="recordId" column="record_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
        <result property="recordDesc" column="record_desc" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Select">
        select record_id,
               user_id,
               user_name,
               subject_id,
               record_desc,
               create_time,
               update_time
        from record
    </sql>
    <insert id="insertOne" parameterType="record">
        insert into record
        values (#{recordId},
                #{userId},
                #{userName},
                #{subjectId},
                #{recordDesc},
                #{createTime},
                #{updateTime});

    </insert>
</mapper>
